
#chartPanel {
	transition: height .5s ease;
	width: auto;
	height: 40%;
	margin: 0; 
	padding: 20px; 
	overflow: auto;
	border-left: 2px solid #000;
	color: #FFF;
}


.axis path,
.axis line {
	fill: none;
	stroke: #121401;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}

.tick text {
	fill: #FFF;
}

.point {
	stroke: grey;
	stroke-width: 3px;
	opacity: 0;
}
.point:hover{
	opacity: .5;
}