
<div id="cossapCatalogue" class="navy-bg">
	
	
	
    <h3>Map Layers</h3>
    <br/>

    <p>
        <button ng-click="rest()" class="btn btn-default">ArcGIS cache</button>
    </p>

    <p>
        <button ng-click="wmsProxy()" class="btn btn-default">test proxied layer</button>
    </p>

    <p>
        Comes with free obtrusive GetFeatureInfo inspector..<br/>
        <button ng-click="wms()" class="btn btn-default">WMS (pickEnabled)</button>
    </p>

    <p>
        <button ng-click="pickService.addPickListener()" class="btn btn-default">Add Feature Pick listener</button>
        <button ng-click="pickService.destroyPickListener()" class="btn btn-default">Destroy Pick listener</button>
    </p>

    <p>
        <button ng-click="addCursorHandler()" class="btn btn-default">Get Cursor Position<br/>(ScreenSpaceEventHandler)</button>
        <button ng-click="destroyCursorHandler()" class="btn btn-default">Destroy handler</button>
    </p>

    <p>
        <button ng-click="initDrawTools()" class="btn btn-default">Draw Stuff.. <i class="fa fa-pencil"></i></button>
    </p>

    <p ng-show="drawHelperService.active">
        <button ng-click="callDrawMarker()" class="btn btn-default">Draw Marker.. <i class="fa fa-map-marker"></i></button>
        <button ng-click="callDrawLine()" class="btn btn-default">Draw Polyline.. <i class="fa fa-minus"></i></button>
        <button ng-click="callDrawPoly()" class="btn btn-default">Draw Polygon.. <i class="fa fa-bookmark-o"></i></button>
        <button ng-click="callDrawExtent()" class="btn btn-default">Draw Extent.. <i class="fa fa-square-o"></i></button>
        <button ng-click="callDrawCircle()" class="btn btn-default">Draw Circle.. <i class="fa fa-circle-o"></i></button>
        <button ng-click="drawHelperService.removeAllPrimitives()" class="btn btn-default">Remove all.. <i class="fa fa-trash"></i></button>
    </p>

    <p>
        <button ng-click="demoGraph()" class="btn btn-default">Demo Stream Graph <i class="fa fa-area-chart"></i></button>
    </p>

    <p>
        <button ng-click="demoPoly()" class="btn btn-default">Demo 3d Polygon <i class="fa fa-pie-chart"></i></button>
    </p>


    <h3>Notes:</h3>

    ...

</div>